.login__input {
    font-style: normal;
    color: #fff;
    background-color: black;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 5px;
    width: 358px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #CCCCCC;

}