
.popup__checkMark {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    top: 195px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    height: 330px;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;

}

.popup__successIcon {
    height: 120px;
    width: 120px;
}