.login__save {
  background: #ffffff;
  border-radius: 2px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  width: 358px;
  height: 50px;
  text-align: center;
  margin: 216px 0 0;
  padding: 14px 84px;
 }
